<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        
        <add key="NServiceBus/Redis/RedisSentinelHosts" value=""/>
        <add key="NServiceBus/Redis/RedisClusterName" value=""/>
        <add key="NServiceBus/Redis/RedisConnectionString" value="redis://redistest-it-s?db=0;"/>

    </appSettings>
  
</configuration>